@page "/private/{author}"
@model Chirp.Web.Pages.PrivateTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

@if (User.Identity.IsAuthenticated)
{
    <div>
        <h2>@User.Identity.Name's Timeline - Page @Model.CurrentPage</h2>
        <p>This is your private timeline.</p>

        <div class="cheepbox">
            <h3>What's on your mind @User.Identity.Name?</h3>
            <form method="post">
                <input asp-for="NewCheepText" type="text">
                <input type="submit" value="Share">
            </form>
        </div>

        @if (Model.Cheeps.Any())
        {
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <strong>
                                <a href="/user/@cheep.Author">@cheep.Author</a>
                            </strong>

                            @if (User.Identity?.Name != cheep.Author)
                            {
                                <form method="post" asp-page-handler="Follow" style="margin:0;">
                                    <input type="hidden" name="followedId" value="@cheep.AuthorId" />
                                    <button type="submit" style="width: 90px;">
                                        @(Model.FollowedAuthorIds.Contains(cheep.AuthorId) ? "Unfollow" : "Follow")
                                    </button>
                                </form>
                            }
                        </div>

                        <p>
                            @cheep.Message
                            <small>&mdash; @cheep.Timestamp</small>
                        </p>
                    </li>
                }
            </ul>
        }
        else
        {
            <em>There are no cheeps so far.</em>
        }
    </div>
}
else
{
    <p>You are not logged in.</p>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
}